body{
    margin:0;
    padding:0;
    background: #f7efe7;
}

.tit {
    width: 100%;
    height: 110px;
    background: #CBBEB3;
}

.tit .contenido{
    width: 50%;
    height: 50px;
    position: absolute;
    left: 25%;
    color: #58514b;
    font-family: 'Alkatra', cursive;
    font-size: 27px;
}




.tit .contenido .frases {
    color: #706158;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: bolder;
    font-size: 35px;
}